body {
  font-family: Arial, sans-serif;
}

.profile-container {
  width: 600px;
  /* 원래 크기의 2배 */
  margin: 0 auto;
  padding: 40px;
  /* 패딩도 2배로 조정 */
  border: 2px solid #ddd;
  /* 테두리도 약간 굵게 */
  border-radius: 10px;
}

h3 {
  text-align: center;
  font-size: 32px;
  /* 제목의 폰트 크기를 2배로 조정 */
}

.form-group {
  margin-bottom: 30px;
  /* 각 폼 그룹의 마진도 2배로 조정 */
}

label {
  display: block;
  margin-bottom: 10px;
  /* 라벨과 입력 필드 사이의 간격 조정 */
  font-size: 18px;
  /* 라벨 폰트 크기 조정 */
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 16px;
  /* 입력 필드의 패딩 조정 */
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  /* 입력 필드의 폰트 크기 조정 */
}



.btn {
  display: block;
  width: 100%;
  padding: 20px;
  /* 버튼의 패딩 조정 */
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 18px;
  /* 버튼의 폰트 크기 조정 */
}

.btn.edit {
  background-color: #f0ad4e;
}

.btn:hover {
  opacity: 0.8;
}