/* 전체 화면 모달 배경 스타일 */
.exerciseModal {
  display: flex;
  align-items: center;
  /* 모달을 수직 방향으로 가운데 정렬 */
  justify-content: center;
  /* 모달을 수평 방향으로 가운데 정렬 */
  position: fixed;
  /* 스크롤 시에도 같은 위치에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  /* 전체 너비 */
  height: 100%;
  /* 전체 높이 */
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경색 설정 */
  z-index: 10;
  /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */
}

.exercise-modal {
  position: relative;
  /* 상대 위치 */
  background-color: #fff;
  /* 밝은 배경색 */
  padding: 20px;
  /* 패딩 */
  border-radius: 8px;
  /* 약간 둥근 모서리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 미묘한 그림자 */
  width: 1000px;
  /* 원래의 2배 크기 */
  margin: auto;
  /* 중앙 정렬 */
}

.exercise-list {
  width: 100%;

}

.exercise-list thead th {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f2f2f2;
  width: 120px;
  /* 각 열의 너비를 120px로 설정 */
  min-width: 120px;
  /* 최소 너비를 120px로 설정 */
  max-width: 120px;
  /* 최대 너비를 120px로 설정 */
  text-overflow: ellipsis;
  /* 텍스트가 넘칠 경우 말줄임표로 처리 */
  white-space: nowrap;
  /* 줄바꿈 방지 */
  overflow: hidden;
  /* 내용이 넘칠 경우 숨김 처리 */
  padding: 8px;
}

.exercise-list tr {
  height: 40px;
  /* 행의 높이 조절 */
}

.exercise-list-container {
  height: 400px;
  /* 최대 높이 설정 */
  overflow-y: scroll;
  /* 수직 스크롤 활성화 */
  border: 1px solid #ddd;
  /* 가시성을 위한 테두리 추가 */
  margin-bottom: 20px;
  /* 아래쪽 여백 추가 */
  margin-top: 20px;
  /* 위쪽 여백 추가 */
  width: 100%;
  /* 컨테이너의 전체 너비 */
}

.exercise-list tr:hover {
  background-color: #e6e6e6;
  /* 호버 효과 추가 */
}

.selected-exercises {
  margin-top: 15px;
  /* 상단 여백 */
  padding: 5px;
  /* 약간의 패딩 */
  border: 1px solid #ddd;
  /* 미묘한 테두리 */
  border-radius: 5px;
  /* 약간 둥근 모서리 */
}

.selected-exercise {
  display: inline-block;
  /* 인라인 블록 */
  padding: 3px 7px;
  /* 약간의 패딩 */
  margin: 5px;
  background-color: #e7e7e7;
  /* 라이트 그레이 배경 */
  border-radius: 3px;
  /* 약간 둥근 모서리 */
}

.remove-exercise-btn {
  background: none;
  /* 배경 제거 */
  color: #666;
  /* 어두운 회색 */
  border: none;
  /* 테두리 제거 */
  cursor: pointer;
  /* 커서 변경 */
  font-size: 14px;
  /* 적당한 크기 */
}

.add-exercises {
  width: 100%;
  /* 전체 너비 */
  padding: 10px 0;
  /* 상하 패딩 */
  background-color: #4CAF50;
  /* 연한 녹색 배경 */
  color: white;
  /* 흰색 글자 */
  border: none;
  /* 테두리 제거 */
  border-radius: 4px;
  /* 약간 둥근 모서리 */
  cursor: pointer;
  /* 커서 변경 */
  margin-top: 15px;
  /* 상단 여백 */
}

.add-exercises:hover {
  background-color: #45a049;
  /* 조금 어두운 녹색으로 변경 */
}

.close-modal-btn {
  float: right;
  margin-bottom: 10px;
  /* 버튼 아래 여백 추가 */
  border: none;
  /* 테두리 제거 */
  background: none;
  /* 배경 제거 */
  color: #333;
  /* 단순한 글자색 */
  font-size: 24px;
  /* 적당한 크기 */
  cursor: pointer;
  /* 커서 스타일 */
}