/* Exercise.css */

/* 기본 페이지 레이아웃 스타일 */
.exercise-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 날짜 표시 영역 스타일 */
#datePicker {
  margin-bottom: 20px;
}

/* 날짜 입력 필드 스타일 */
#currentDate {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

/* 날짜와 요일 표시 스타일 */
.date-display {
  background-color: #d4edda;
  color: #155724;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  /* 강조를 위한 더 큰 글꼴 크기 */
  color: #27ae60;
  /* 생기 넘치는 활기찬 색상 */
  text-transform: uppercase;
  /* 강조를 위해 모든 글자를 대문자로 변환 */
  text-align: center;
  /* 제목 가운데 정렬 */
  background-color: #f8f9fa;
  /* 밝은 배경색 */
  margin-top: 20px;
  margin-bottom: 20px;
  /* 제목 아래 여백 */
  padding: 10px 0;
  /* 텍스트 주변 여백 설정 */
  font-weight: bold;
  /* 강조를 위한 굵은 글꼴 */
  letter-spacing: 2px;
  /* 글자 사이 간격 늘리기 */
  border-radius: 10px;
  /* 둥근 모서리 */
  display: inline-block;
  /* 텍스트 주변에 테두리 밀착 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* 깊이감을 주기 위한 부드러운 그림자 */
  padding: 15px 30px;
  /* 여백 더하기 */
}

h2:before {
  content: '🏋️‍♂️ ';
  /* 운동 이모지 */
  font-size: 1.5rem;
  /* 약간 작은 크기의 이모지 */
}

/* 모달을 포함한 모든 버튼에 공통 적용 스타일 */
button {
  cursor: pointer;
  font-weight: bold;
}

/* 선택한 운동을 표시하는 리스트 스타일 */
.selected-exercises-list {
  width: calc(100% - 40px);
  /* .exercise-container의 패딩 빼기 */
  list-style: none;
  padding: 0;
}

.selected-exercises-list li {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 선택한 운동의 이름 스타일 */
.selected-exercise-name {
  margin-left: 10px;
}


#exerciseList {
  list-style-type: none;
  /* 기본 목록 스타일 제거 */
  padding: 0;
  /* 기본 패딩 제거 */
  margin: 0;
  /* 기본 마진 제거 */
}

#exerciseList-container {
  height: 500px;
  /* 10개 항목의 높이 합계로 설정 */
  overflow-y: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* 버튼 앞에 공간 추가 */
}

#exerciseList li {
  background-color: #f2f2f2;
  /* 배경색 설정 */
  border: 1px solid #ddd;
  /* 테두리 설정 */
  margin-bottom: 8px;
  /* 하단 마진 설정 */
  padding: 12px 20px;
  /* 패딩 설정 */
  border-radius: 4px;
  /* 둥글게 된 테두리 */
  display: flex;
  /* Flexbox 레이아웃 사용 */
  align-items: center;
  /* 세로 가운데 정렬 */
  justify-content: center;
  /* 내용물 좌우 정렬 */
  font-size: 16px;
  /* 글꼴 크기 설정 */
  font-weight: bold;
  /* 굵은 글꼴 */
}

#exerciseList li:hover {
  background-color: #e6e6e6;
  /* 호버 시 배경색 변경 */
}

#exerciseList li::before {
  content: '🏋️';
  /* 운동 이모지 추가 */
  margin-right: 10px;
  /* 오른쪽 마진 추가 */
}

/* 운동 스키마에 대한 스타일 */
.exercise-schema {
  display: flex;
  justify-content: space-between;
  /* 아이템들 간격을 균등하게 조정 */
  align-items: center;
  /* 아이템들을 세로 중앙에 위치시킴 */
  background-color: #c8e6c9;
  /* 부드러운 녹색 배경색 */
  padding: 10px;
  /* 내부 여백 */
  border-radius: 25px;
  /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 그림자 효과 */
  margin: 20px 0;
  /* 위아래 마진 */
  width: 100%;
  /* 전체 너비 */
}

/* 각 스키마 스타일 */
.exercise-schema span {
  flex: 1;
  /* 모든 아이템에 동일한 너비를 주기 위해 flex 속성을 1로 설정 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
  margin: 0 5px;
  /* 아이템 간 여백 조정 */
  color: #333;
  /* 텍스트 색상 */
  font-size: 16px;
  /* 글꼴 크기 */
  font-weight: bold;
  /* 굵은 글꼴 */
}

/* ============================================ */


#exerciseList li .exercise-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Style for exercise name */
.exerciseName {
  flex: 1;
  /* Adjust the flex-grow value as needed */
  text-align: center;
  margin-right: 80px;
}

/* Style for input groups */
.input-group {
  display: flex;
  flex-direction: row;
  /* This will align the input and its unit horizontally */
  align-items: center;
  flex: 1;
  /* Adjust the flex-grow value as needed */
  margin-right: 40px;
}

.input-group input {
  width: 100px;
  margin-right: 5px;
  /* Add some space between the input and its unit label */
}

/* Style for the total weight display */
.totalWeight {
  flex: 1;
  /* Adjust the flex-grow value as needed */
  text-align: center;
}

.removeExerciseBtn {
  margin-left: auto;
  /* 버튼을 오른쪽 끝으로 밀어냅니다. */
}

/* 'x' 버튼 스타일 */
.removeExerciseBtn {
  margin-left: auto;
  /* 무게 입력과 버튼 사이의 공간을 최대로 해서 오른쪽 정렬 */
  background: none;
  /* 배경색 없음 */
  border: none;
  /* 테두리 없음 */
  color: #dc3545;
  /* 버튼 색상 */
  padding: 5px;
  /* 내부 여백 */
  border-radius: 5px;
  /* 둥근 모서리 */
}

.removeExerciseBtn:hover {
  background-color: #e2e6ea;
  cursor: pointer;
}

/* ============================================ */


/* 버튼 컨테이너 스타일 */
.button-container {
  display: flex;
  justify-content: center;
  /* 버튼을 가로로 가운데 정렬 */
  align-items: center;
  /* 필요하면 버튼을 세로로 가운데 정렬 */
  padding: 10px 0;
}

/* 버튼 스타일 */
.button-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  /* 버튼 간격 설정 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  min-width: 100px;
  /* 버튼이 최소 너비를 가지도록 설정 */
}

/* 버튼 호버 효과 */
.button-container button:hover {
  background-color: #45a049;
  transition: background-color 0.3s ease;
}